<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Organizer App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <div class="container">
        <h1><i>My To-Do Task List</i></h1>

        <!-- Form to add a new task -->
        <form action="{{ url_for('add_task') }}" method="POST">
            <div class="input-group">
                <input 
                    type="text" 
                    name="task_name" 
                    id="taskInput" 
                    placeholder="Add a new task here..!" required>
                <button type="submit" id="addTaskBtn">Add Task</button>
            </div>
        </form>
        
        <table id="taskTable">
            <thead>
                <tr>
                    <th id="task-th">Task</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tasks will be inserted here dynamically -->
                {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.status }}</td>
                    <td><button type="submit" class="btn btn btn-outline-success">Edit</button></td>
                    <td>
                        <form onsubmit="deleteTask(event, {{ task.id }})">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function deleteTask(event, taskId) {
            event.preventDefault();
            fetch(`/api/tasks/${taskId}`, {
                method: 'DELETE',
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Failed to delete task');
                }
            });
        }
    </script>
</body>
</html>
