<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <div class="container">
        <h1><i>My To-Do Task List</i></h1>
        
        <div class="input-group">
            <input 
                type="text" 
                id="taskInput" 
                placeholder="Add a new task here..!">
            <button id="addTaskBtn">Add Task</button>
        </div>
        
        <table id="taskTable">
            <thead>
                <tr>
                    <th id="task-th">Task</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tasks will be inserted here dynamically -->
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
